@model ProjetoMVC_LocJogos.Models.JogoConsultaModel
@{
    ViewData["Title"] = "Consulta";
    Layout = "~/Views/Templates/Layout.cshtml";
}

<h3>Consulta de Jogos</h3>
<p>
    Listagem de jogos cadastrados no sistema.
</p>
<hr />

@if (TempData["Mensagem"] != null)
{
    <div class="alert alert-secondary mb-2">
        <strong>@TempData["Mensagem"]</strong>
    </div>
}

<table id="tabela_dados" class="table table-sm">
    <thead>
        <tr>
            <th>Nome do Jogo</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th>Data de Cadastro</th>
            <th>Operações</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Jogos)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Preco.ToString("c")</td>
                <td>@item.Quantidade</td>
                <td>@item.DataCadastro.ToString("dd/MM/yyyy HH:mm")</td>
                <td>
                    <a href="/Jogo/Edicao?id=@item.IdJogo" class="btn btn-primary btn-sm">
                        Alterar <!--btn é botão, primary é a cor azul "turqueza" no bootstrap, sm é abreviação de small-->
                    </a>
                    <a href="/Jogo/Exclusao?id=@item.IdJogo"
                       onclick="return confirm
                       ('Deseja excluir o produto @item.Nome?');
                       " class="btn btn-danger btn-sm">
                        Excluir <!--danger é a cor vermelha no bootstrap-->
                    </a>
                </td>
            </tr>
        }

    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                Quantidade de registros: @Model.Jogos.Count
            </td>
        </tr>
    </tfoot>
</table>

